* {
  box-sizing: border-box;
}

*,
body {
  font-family: Nunito, sans-serif;
}

body {
  background: #111;
  color: #fff;

  main {
    position: relative;
  }

  img {
    position: fixed;
    top: 0;
    right: 0;
    width: 5rem;

    @media (min-width: 768px) {
      width: 7rem;
    }

    @media (min-width: 962px) {
      width: 14rem;
    }
  }

  .countdown {
    padding: 0.4rem;
    display: grid;
    gap: 3rem;

    .countdown_event {
      display: grid;
      gap: 1rem;
      .countdown_event_title {
        font-size: 1.3rem;
        font-weight: 200;
        text-transform: uppercase;
        color: #24e493;
        margin: 0;
      }

      .countdown_event_timer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
        gap: 1rem;
        .countdown_timer_unit {
          .countdown_timer_unit_value {
            margin: 0;
            font-size: 5rem;
            font-weight: 400;
            color: #d2cfcf;
            line-height: 4.6rem;
          }
          .countdown_timer_unit_key {
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 200;
            color: #969494;
          }
        }
      }
    }
  }
}
